<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Flappy Bird</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Teko:700"
    />
    <style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
    </style>
  </head>
  <body>
        <ul>
  <li><a href="http://localhost:81/bird">Game</a></li>
  <li><a href="http://localhost:81/board">Leaderboard</a></li>
</ul>
<p id="x">
  <table>
  <tr>
  <th>Name</th>
  <th>Score</th>
  </tr>
  <% for(var i=0; i < scores.length; i++) { %>
   <tr>
     <td><%= scores[i].name %></td>
     <td><%= scores[i].score %></td>
   </tr>
  <% } %>
  </table>
</p>

<script>
  localStorage.setItem("points", null);
  // p.innerHTML = name;
</script>

    
  </body>
</html>
